# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master

pool:
  vmImage: ubuntu-latest
strategy:
  matrix:
    Python395:
      python.version: '3.9.5'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(python.version)'
  displayName: 'Use Python $(python.version)'

- script: |
    sudo apt install python3-pip python3-venv
    python -m pip install --upgrade pip
    pip install -r requirements.txt
    sudo apt-get update
    sudo apt-get install -y xvfb wget ca-certificates fonts-liberation libasound2 libatk-bridge2.0-0 libatk1.0-0 \
       libatspi2.0-0 libcups2 libdbus-1-3 libgbm1 libgtk-3-0 libnspr4 libnss3 \
       libxcomposite1 libxkbcommon0 libxrandr2 xdg-utils ntpdate openssl unzip libxi6 \
       lsof curl libgtk2.0-0 libnotify-dev libgconf-2-4  libxss1  libxtst6 xauth default-jdk
       
    chromedriver_latest=$(curl -k -sS https://chromedriver.storage.googleapis.com/LATEST_RELEASE) && \
    wget -q http://chromedriver.storage.googleapis.com/$chromedriver_latest/chromedriver_linux64.zip
    sudo unzip chromedriver_linux64.zip -d /usr/local/bin \
    sudo rm chromedriver_linux64.zip
    sudo chmod +x /usr/local/bin/chromedriver

  displayName: 'Install dependencies'


- script: |
    python -m robot tests/login_tests.robot
  displayName: 'Robot'



