# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# - task: UsePythonVersion@0
  inputs:
    versionSpec: '3.9.5'
    addToPath: true
    architecture: 'x64'
    - task: PythonScript@0
        inputs:
          scriptSource: 'inline'
          script: 'python -m pip install --upgrade pip'
          script: 'pip install -r requirements.txt'

trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:
- script: python -m robot tests/
  displayName: 'Run Robot Framework'


