# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master

pool:
  vmImage: windows-2019
strategy:
  matrix:
    Python39:
      python.version: '3.9'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(python.version)'
    architecture: 'x64'
  displayName: 'Use Python $(python.version)'

- script: |
    pip install -r requirements.txt
    robot --version
    npm install chromedriver

  displayName: 'Install dependencies'


- script: |
    python -m robot.exe tests/login_tests.robot
  displayName: 'Run Robot Scripts'



